.NavigationItem {
  margin: 10px 0;
  display: block;
}

.NavigationItem a {
  color: rgb(158, 158, 158);
  text-decoration: none;
}

@media (min-width: 500px) {
  .NavigationItem a.active {
    color: black;
    font-weight: 600;
  }
}
